---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Romit is a budding software developer and AI researcher. He is currently pursuing his B.Tech in Artificial Intelligence at the Indian Institute of Technology, Gandhinagar.
		</p>
		<p>He will be happy to work and collaborate in any project as a software engineer. His main tools are React, Spring Boot and Python.</p>
	</div>
</div>


